.info {
	background-color: #FFE4C6;
}

body {
	font-family: 'Reenie Beanie', cursive;
	color: #FFE4C6;
	background: url(../img/body-bcg.jpg);
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}


.primary-color {
	color: #E06F8F;
}

.info h2 {
	word-spacing: 0.6rem;
}

.info a {
	transition: color 0.4s ease-in-out;
}

.info a:hover: {
	color: #242424;	
}


/*################ Header Section ################*/

#header {
	min-height: calc(100vh - 63px);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner-background.jpg);


	/* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
}

/*.height-90 {
	min-height: calc(100vh - 63px);
}*/



.FlexContainerWrapper {
  display: flex;
  flex-direction: column;
}

.FlexContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 63px);
}


.banner h1 {
	border-top: 6px dotted #FFE4C6;
	border-bottom: 6px dotted #FFE4C6;
	animation: fromLeft;
	animation-duration: 1s;
	animation-delay:2s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes fromLeft{
	0%{
		transform: translateX(-200px);
		opacity: 0;
	}
	50%{
		transform: translateX(70px);
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}





.main-btn {
	color:  #E06F8F;
	font-size: 2rem;
	border: 3px solid  #E06F8F;
	transition: all 1s ease-in-out;
}

.main-btn:hover{
	color: #242424;
	border: 3px solid #FFE4C6;
	background:  #FFE4C6;
}

.cupcake-btn {
	animation: fromRight;
	animation-duration: 1.5s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes fromRight{
	0%{
		transform: translateX(250px);
		opacity: 0;
	}
	50%{
		transform: translateX(-70px);
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}




.header-link {
	display: inline-block;
	position: absolute;
	bottom: 5%;
	left: 50%;
	background:  #FFE4C6;
	border-radius: 10px;
	transition: all 2s ease;
	animation: fromBottom;
	animation-duration: 3s;
	animation-delay: 4;
	animation-iteration-count: infinite;
}

.header-link:hover {
	color: #242424;
}

@keyframes fromBottom{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(-10px);
	}
}



/*************** menu items ***************/

.item-container {
	position: relative;
	/*for the link*/
	overflow: hidden;
	background: linear-gradient(rgb(0,0,0),rgb(0,0,0));
	transition: all 2s ease;
}

.item-img {
	transition: all 2s ease;
}

.item-container:hover .item-img {
	transform: scale(1.2);
	opacity: 0.5;
}


.item-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #FFE4C6;
	font-size: 2rem;
	border-top: 3px solid #FFE4C6;
	border-bottom: 3px solid #FFE4C6;
	transition: opacity 2s ease;
	transition: color 2s ease;
	transition: font-size 0.7s ease;
	opacity: 0;
}


.item-container:hover .item-link {
	opacity: 1;
}


.item-link:hover {
	font-size: 2.5rem;
}

.item-container:hover {
	outline: 10px solid  #E06F8F;
	outline-offset: 0.8rem;
}



/****************** MENU ****************************/

#menu {
	background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(../img/menu-bcg.jpg)center/cover fixed no-repeat;
}

.special{
	border: 3px solid #E06F8F;
	position: relative;
}

.special-text {
	color: #FFE4C6;
	position: absolute;
	top: 0;
	right: 5%;
	background: #E06F8F;
	padding: 0.5rem;
}

.dark-text {
	color: #D3325F;
	font-size: 1.5rem;
}

.dark-text-big {
	color: #D3325F;
}

.about-text {
	color: #D3325F;
}

.price {
	margin-top: 50px;
	margin-left: 10px;
}


/*************  ABOUT ******************/

.about-picture {
	position: relative;
}

.about-image {
	position: absolute;
	width: 150px;
	transition: all 2s ease;
	opacity: 0.9;
}


.img-1 {
	left: 0%;
	top: 0%;
}

.img-2 {
	left: 20%;
	top: 20%;
	z-index: 10;
}

.img-3 {
	left: 40%;
	top: 45%;
	z-index: 20;
}

.img-4 {
	left: 40%;
	top: 0%;
}

.img-5 {
	left: 0%;
	top: 45%;
}


.about-image:hover {
	outline: 10px solid #d3325f;
	outline-offset: 0.8rem;
	transform: scale(1.8) rotate(20deg);
	z-index: 30;
	opacity: 1;
}


.about-pictures:hover .about-image:not(:hover) {
	opacity: 0.5;
}



/************   REVIEW SECTION *****************/

.review-item {
	background: rgba(255,255,255,0.5);
	clip-path: polygon(5% 0,100% 0,90% 100%,0 100%);
}


.review-img {
	width: 150px;	
}



/********************  TEAM SECTION ****************/

.team-icons a{
	color: #E06F8F;
	transition: all 0.5s ease-in-out;
}

.team-icons a:hover{
	color: #3b5998;
	transform: translateY(-5px);
}



/********************  CONTACT SECTION ****************/

.height-60 {
	min-height: 60vh;
}

#contact .card {
	background: rgba(0,0,0,0.3);
	transition: all 2s ease;
}

#contact .card:hover{
	background: rgba(0,0,0,0.6);
}

#contact .input-group-text {
	background: #E06F8F;
	border-color: #E06F8F;
	color: #242424;
}

#contact .card input {
	color: #606060;
}

#contact .card input::placeholder {
	color: #606060;
}

.contact-btn {
	color:  #FFE4C6;
	border-color: none;
	background: rgba(0,0,0,0.3);
	transition: all 1s ease-in-out;
}

.contact-btn:hover {
	background: #E06F8F;
	border-color: #E06F8F;
	color: #FFE4C6;
}


/****** footer ******/

#back-to-top {
	background: #FFE4C6;
	border-radius: 10px;
	display: inline-block;
	border: 2px solid #E06F8F;
}

.scrollTop {
	position: fixed;
	bottom: 70px;
	right: 10px;
}